{% extends "../index.twig" %}

{% block title %}Каталог{% endblock %}

{% block greeting %}<h1>Каталог</h1>{% endblock %}

{% block content %}

    {% if products %}
        <div class="container">
            <div class="catalog">
                {% include 'catalogList.twig' %}
            </div>
        </div>
    {% endif %}


{% endblock %}